### Intellij ###
.idea/

### VisualStudioCode ###
.vscode/

### Lua ###
# luarocks build files
*.src.rock
*.zip
*.tar.gz

# luacov
luacov.*

### Project ###
# general
.github/slack*.json
busted.out
coverage/
description.txt
images/auto_join_icons/
lcov.info
modsettings.lua
workshop/

# doc
doc/*
!doc/.dockerignore
!doc/docker-stack.yml
!doc/Dockerfile
!doc/ldoc/
